<%= render partial: "navbar" %>
<%= render partial: "header" %>

<div class="container preview-display">

	<div>
		Your Ritly is: <%= link_to "#{@link.ritly_url}", "/go/#{@link.ritly_url}", method: :patch, class: "bolden" %>
	</div>
	<div>
		Number of visits: <%= @link.visits %>
	</div>
	<div>
		Go to <%= link_to "#{@link.ritly_url}", "/go/#{@link.ritly_url}", method: :patch, class: "bolden" %> to visit your URL
	</div>
	<!-- <#%= image_tag "#{@page_preview.image}", class: "fragment" %> -->
</div>